In [1]:
!pip install flask-ngrok

Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (3.0.4)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

# Train MLP

In [2]:
import numpy as np
import pandas as pd

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from sklearn.preprocessing import MinMaxScaler

## preprocess data

In [3]:
# load data
X = pd.read_csv('X.csv')

with open('y.npy', 'rb') as f:
  y = np.load(f)

In [4]:
X

      Foundation_rank  HeatingQC_rank  ...  GrLivArea  OverallQual
0                   1               1  ...       1710            7
1                   2               1  ...       1262            6
2                   1               1  ...       1786            7
3                   3               2  ...       1717            7
4                   1               1  ...       2198            8
...               ...             ...  ...        ...          ...
1455                1               1  ...       1647            6
1456                2               3  ...       2073            6
1457                6               1  ...       2340            7
1458                2               2  ...       1078            5
1459                2               2  ...       1256            5

[1460 rows x 60 columns]

In [5]:
# select features

# OverallQual 10
# GrLivArea 10
# GarageCars 9
# GarageArea 8
# TotalBsmtSF 7
# 1stFlrSF 6
# FullBath 5
# LotShape Reg

X = X[['OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea', 'TotalBsmtSF', '1stFlrSF', 'FullBath', 'LotShape_rank']]

In [6]:
X.shape

(1460, 8)

In [7]:
x_min_max_scaler = MinMaxScaler()
x_min_max_scaler.fit(X)
scaled_X = x_min_max_scaler.transform(X)

y_min_max_scaler = MinMaxScaler()
y_min_max_scaler.fit(y)
scaled_y = y_min_max_scaler.transform(y)

In [8]:
scaled_X.shape, scaled_y.shape

((1460, 8), (1460, 1))

## Training

In [11]:
model = keras.Sequential(
    [
        keras.Input(shape=scaled_X.shape[-1]),
        layers.Dense(96, activation='relu'),
        layers.Dense(48, activation='relu'),
        layers.Dense(1)
    ]
)
model.compile(loss="mse", optimizer="adam")

early_stopping_callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=15)
model.fit(scaled_X, scaled_y,
          batch_size=2, epochs=150,
          callbacks=[early_stopping_callback], validation_split=0.05)

WARNING:tensorflow:Please add `keras.layers.InputLayer` instead of `keras.Input` to Sequential model. `keras.Input` is intended to be used by Functional model.
Epoch 1/150
694/694 [==============================] - 2s 2ms/step - loss: 0.0050 - val_loss: 0.0018
Epoch 2/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0032 - val_loss: 0.0019
Epoch 3/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0033 - val_loss: 0.0015
Epoch 4/150
694/694 [==============================] - 1s 2ms/step - loss: 0.0029 - val_loss: 0.0016
Epoch 5/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0027 - val_loss: 0.0019
Epoch 6/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0028 - val_loss: 0.0015
Epoch 7/150
694/694 [==============================] - 1s 2ms/step - loss: 0.0026 - val_loss: 0.0015
Epoch 8/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0024 - val_loss: 0.0013
Epoch 9/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0026 - val_loss: 0.0020
Epoch 10/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0024 - val_loss: 0.0014
Epoch 11/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0023 - val_loss: 0.0017
Epoch 12/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0025 - val_loss: 0.0013
Epoch 13/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0023 - val_loss: 0.0013
Epoch 14/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0024 - val_loss: 0.0013
Epoch 15/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0024 - val_loss: 0.0016
Epoch 16/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0022 - val_loss: 0.0013
Epoch 17/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0022 - val_loss: 0.0031
Epoch 18/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0022 - val_loss: 0.0012
Epoch 19/150
694/694 [==============================] - 1s 2ms/step - loss: 0.0022 - val_loss: 0.0012
Epoch 20/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0012
Epoch 21/150
694/694 [==============================] - 1s 2ms/step - loss: 0.0021 - val_loss: 0.0014
Epoch 22/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0024 - val_loss: 0.0012
Epoch 23/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0020 - val_loss: 0.0013
Epoch 24/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0011
Epoch 25/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0012
Epoch 26/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0012
Epoch 27/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0022 - val_loss: 0.0016
Epoch 28/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0023
Epoch 29/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0019
Epoch 30/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0020 - val_loss: 0.0012
Epoch 31/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0012
Epoch 32/150
694/694 [==============================] - 1s 2ms/step - loss: 0.0019 - val_loss: 0.0016
Epoch 33/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0018 - val_loss: 0.0014
Epoch 34/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0027
Epoch 35/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0022 - val_loss: 0.0012
Epoch 36/150
694/694 [==============================] - 1s 2ms/step - loss: 0.0020 - val_loss: 0.0011
Epoch 37/150
694/694 [==============================] - 1s 2ms/step - loss: 0.0021 - val_loss: 0.0014
Epoch 38/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0019 - val_loss: 0.0014
Epoch 39/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0014
Epoch 40/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0019 - val_loss: 0.0012
Epoch 41/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0018 - val_loss: 0.0019
Epoch 42/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0019 - val_loss: 0.0014
Epoch 43/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0023 - val_loss: 0.0012
Epoch 44/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0020 - val_loss: 0.0011
Epoch 45/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0020 - val_loss: 0.0012
Epoch 46/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0015
Epoch 47/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0018 - val_loss: 0.0013
Epoch 48/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0021 - val_loss: 0.0013
Epoch 49/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0019 - val_loss: 0.0012
Epoch 50/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0019 - val_loss: 0.0014
Epoch 51/150
694/694 [==============================] - 1s 1ms/step - loss: 0.0020 - val_loss: 0.0018

In [12]:
 scaled_X.shape

(1460, 8)

In [13]:
pred = model.predict(scaled_X[:5])
pred = y_min_max_scaler.inverse_transform(pred)

In [16]:
pred

array([[177153.6 ],
       [149654.47],
       [201769.31],
       [196613.1 ],
       [278938.75]], dtype=float32)

In [15]:
str(pred[0][0])

'177153.6'

# Flask server

In [17]:
# Read data (v)
# Preprocess data
# Model prediction
# Return predict

from flask import Flask, render_template, request
from flask_ngrok import run_with_ngrok
app = Flask(__name__, template_folder='/content')
run_with_ngrok(app)

def preprocess_data(data):
  # TODO: 전처리
  return np.zeros((1, 8)) # dummy data

@app.route("/")
def predict():
  # return "<h1>This is your Flask server.</h1>"
  return render_template("submit_form.html")

@app.route("/result", methods=['POST'])
def result():
  data = request.form

  message = ""
  message += "<h1>House Price</h1>"

  for k, v in data.items():
    print(k, v)
    message += k + ": " + v + "</br>"
  
  # 데이터 전처리
  X = preprocess_data(data) # data: user가 보낸 것
  # X: (1, 8) zeros

  pred = model.predict(X)
  pred = y_min_max_scaler.inverse_transform(pred)
  # array (1, 1) --> string

  message += "</br>"
  message += "Predicted price: " + str(pred[0][0])

  return message

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://ce769e656715.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [11/Aug/2021 03:37:14] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [11/Aug/2021 03:37:14] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [11/Aug/2021 03:37:15] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [11/Aug/2021 03:37:16] "POST /result HTTP/1.1" 200 -

OverallQual 6
GrLivArea 1464
GarageCars 2
GarageArea 480
TotalBsmtSF 991
1stFlrSF 1087
FullBath 2
LotShape IR1

127.0.0.1 - - [11/Aug/2021 03:37:18] "GET /result HTTP/1.1" 405 -
127.0.0.1 - - [11/Aug/2021 03:37:23] "POST /result HTTP/1.1" 200 -

OverallQual 1
GrLivArea 1464
GarageCars 2
GarageArea 480
TotalBsmtSF 991
1stFlrSF 1087
FullBath 2
LotShape IR1